/* Estilos generales */
/*body {
/*  margin: 0;
/*  padding: 0;
/*  background-color: #f7be14;
/*  font-family: Arial, sans-serif;
/*}

/* ===========================
   ESTILOS DEL ENCABEZADO
   =========================== */
.header {
  background-color: #1a1a1a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

/* Logo */
.logo img {
  height: 50px;
}

/* Menú de navegación */
.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}

.nav-menu a:hover {
  text-decoration: underline;
}

.nav-menu .active {
  text-decoration: underline;
}

.container_main {
    width: 100%;
    min-height: calc(100vh - 120px); /* Ajusta la altura sin afectar el header */
    background-color: #f7be14; /* Color de fondo amarillo */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 300px;
}

.main_content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-button img {
    width: 30px; /* Ajusta el tamaño de la imagen */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.image-button img:hover {
    transform: scale(1.1);
}
